<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.dao.QNARecordMapper">
  <resultMap id="BaseResultMap" type="com.aurora.domain.QNARecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="qna_id" jdbcType="INTEGER" property="qnaId" />
    <result column="choose" jdbcType="INTEGER" property="choose" />
    <result column="judge" jdbcType="BIT" property="judge" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, qna_id, choose, judge, created_time
  </sql>
  <select id="selectQNARank" resultType="com.aurora.domain.QNARank">
    SELECT u.`id` as userId,`nickname`,COUNT(judge=1 OR NULL) AS `right`,COUNT(judge=0 OR NULL) AS `wrong`
    FROM qna_record qr
    LEFT JOIN `user` u
    ON qr.user_id=u.`id`
    GROUP BY qr.`user_id`
    ORDER BY `right` DESC
  </select>
  <select id="selectByExample" parameterType="com.aurora.domain.QNARecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from qna_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qna_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qna_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aurora.domain.QNARecord">
    insert into qna_record (id, user_id, qna_id, 
      choose, judge, created_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{qnaId,jdbcType=INTEGER}, 
      #{choose,jdbcType=INTEGER}, #{judge,jdbcType=BIT}, #{createdTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aurora.domain.QNARecord">
    insert into qna_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="qnaId != null">
        qna_id,
      </if>
      <if test="choose != null">
        choose,
      </if>
      <if test="judge != null">
        judge,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="qnaId != null">
        #{qnaId,jdbcType=INTEGER},
      </if>
      <if test="choose != null">
        #{choose,jdbcType=INTEGER},
      </if>
      <if test="judge != null">
        #{judge,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aurora.domain.QNARecord">
    update qna_record
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="qnaId != null">
        qna_id = #{qnaId,jdbcType=INTEGER},
      </if>
      <if test="choose != null">
        choose = #{choose,jdbcType=INTEGER},
      </if>
      <if test="judge != null">
        judge = #{judge,jdbcType=BIT},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aurora.domain.QNARecord">
    update qna_record
    set user_id = #{userId,jdbcType=VARCHAR},
      qna_id = #{qnaId,jdbcType=INTEGER},
      choose = #{choose,jdbcType=INTEGER},
      judge = #{judge,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>